<!DOCTYPE html>

<html lang="en-us">
   <head>
      <title>File Metadata</title>
      <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/1230/1230137.png?w=826&t=st=1679489525~exp=1679490125~hmac=34a03ac7572268665e9da7c62b4234945d282ae27bf01bccc2b46e8ba35cacf1" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>API Project: File Metadata Microservice</h2>

        <h3>Usage:</h3>
        <p>
          Please Upload a File ...
        </p>
        <div class="view">
          <h4 id="output"></h4>
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <input id="inputfield" type="file" name="upfile">
            <input id="button" type="submit" value="Upload">
          </form>
        </div>
      </div>
      <div class="footer">
        <p>
          by 
          <a href="https://github.com/abdelrahmen/file-meta-data-api">Abdelrahman Anwar</a>
        </p>
      </div>
   </body>
</html>
